node_modules
.dist
.vscode
.DS_Store
dist
npm-debug.log*
.env*
public/projects
public/projeler
public/travel
public/AGENTS
public/Attributions
public/Guidelines
public/README
public/aboutcyprus
public/assets
public/blog
public/de
public/en/blog
public/fotos
public/index.html
public/kampanyalar
public/kariyer
public/kibris-*
public/kuzey-kibris-*
public/liquid
public/rss.xml
public/rss2.xml
public/ru
public/sitemap.xml
public/robots.txt
public/tatilneu
public/tr
public/metadata.json
public/**/AGENTS/
public/**/README/
public/**/Attributions/
public/**/Guidelines/
